<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{static_url('css/common.css')}}">
    <!--<style type="text/css">-->
<!--#menu-->
<!--li {-->
<!--float:left; /* 往左浮动 */-->
<!--}-->

</head>
<body>

<ul>
    {% for row in rose %}
        <div class="b">
        <li>
            <textarea>{{row['title']}}</textarea>
            <img src="/upload/{{row['pic']}}" width="200" height="200">

        </li>
        </div>
    {% end %}
</ul>
</body>
</html>